@using StyledRazor.Core.Services
@using StyledRazor.Core
@inherits StyledBase
@implements IDisposable

<div @ref="_elementRef">
  <Layout Styled="@Base"
          style=@($@"
              --height: {CalculatedHeight};
              --width: {100 / Cols}%;
              --gutter: {Gutter}
              ")>
    @ChildContent
  </Layout>
</div>

@code {
  private string CalculatedHeight { get; set; }

  private ElementReference _elementRef;

  protected override Styled Base => new("ul", @"
		{
      list-style: none;
			display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: calc(-1 * var(--gutter)) 0 0 calc(-1 * var(--gutter));
      width: calc(100% + var(--gutter));
      position: relative;
		}

    > * {
      width: calc(var(--width) - var(--gutter)) !important;
      margin: var(--gutter) 0 0 var(--gutter) !important;
      height: var(--height) !important;
      max-height: var(--height);
      overflow: hidden;
    }
	", "GridList");
  
  protected override Task OnInitializedAsync() => InitComponent();

  private async Task InitComponent()
  {
    BrowserService.OnResize += WindowSizeHasChanged;
    await Task.Delay(1);
    await WindowSizeHasChanged();
  }

  private async Task WindowSizeHasChanged()
  {
    await SetCalculatedHeight();
    StateHasChanged();
  }

  private async Task SetCalculatedHeight()
  {
    var elementDimension = await Service.DimensionFrom(_elementRef);
    CalculatedHeight = !string.IsNullOrEmpty(Height) ? Height :
      GridRatio != 0 ? $"{((double)elementDimension.Width / Cols - Utils.RemToInt(Gutter)) / GridRatio}px" 
        : "initial";
  }

  public void Dispose() => BrowserService.OnResize -= WindowSizeHasChanged;

  [Inject]
  protected BrowserService Service { get; set; }

  [Parameter]
  public string Gutter { get; set; } = Tokens.SpacingS;

  [Parameter]
  public string Height { get; set; }

  [Parameter]
  public int Cols { get; set; } = 1;

  [Parameter]
  public double GridRatio { get; set; }
}