@using BlazorApp.Lib.Styled
@using BlazorApp.Lib.Styles

<h1 as=@_styled.Wrapper
	style="
		--box-height: @Height;
		--box-padding: @Padding;
		--box-width: @Width;
	"
>
	@ChildContent
	@_styled.Css(@"
		h1 {
		    height: var(--box-height);
		    padding: var(--box-padding);
		    width: var(--box-width);
		}
	")
</h1>

@code {
	private Styled _styled = new Styled("h1").As("box");

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public string Height { get; set; } = "initial";

	[Parameter]
	public string Width { get; set; } = "initial";

	[Parameter]
	public string Padding { get; set; } = StyleDictionary.SpacingM;
}