<div
	class=@_className
	stretch=@StretchAll
>
	@ChildContent
	
	<style>
		.@_className {
			display: flex;
			flex-wrap: nowrap;
			height: inherit;
			min-height: inherit;
		}
		
		[stretch].@_className > *  { 
			flex: 1 
		}
		
		.@_className > :nth-child(@_stretchedIndex) {
			flex: 1
		} 
	</style>
</div>

@code {
	private string _className = Utils.GenerateUniqueClassName("split");
	
	private int? _stretchedIndex;

	[Parameter]
	public bool StretchAll { get; set; }

	[Parameter]
	public int? StretchIndex
	{
		set
		{
			if (value < 0) throw new ArgumentOutOfRangeException(nameof(value));
			_stretchedIndex = value + 1;
		}
	}

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}


