<div
	class=@_className
>
	@ChildContent
</div>

<style>
	.@_className {
		display: flex;
		flex-wrap: nowrap;
		height: inherit;
		min-height: inherit;
	}
	
	.@_className .stretch-all > *  { 
		flex: 1 
	}
	
	.@_className > :nth-child(@_stretchedChild) {
		flex: 1
	} 
</style>

@code {
	private string _className = Wrapper.GenerateUniqueClassName("split");
	
	private int? _stretchedChild;

	[Parameter]
	public bool StretchAll { get; set; }

	[Parameter]
	public int? StretchIndex
	{
		set
		{
			if (value < 0) throw new ArgumentOutOfRangeException(nameof(value));
			_stretchedChild = value + 1;
		}
	}

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}


