<div
	class=@_styled.ClassName
	stretch=@StretchAll
>
	@ChildContent
	
	@_styled.Render(@"
        .wrapper {
			display: flex;
			flex-wrap: nowrap;
			height: inherit;
			min-height: inherit;
		}
		
		[stretch].wrapper > *  { 
			flex: 1 
		}
		
		.wrapper > :nth-child("+ _stretchedIndex + @") {
			flex: 1
		} 
    ")
</div>

@code {
	private Styled _styled = new("split");
	
	private string _className = Utils.GenerateUniqueClassName("split");
	
	private int? _stretchedIndex;

	[Parameter]
	public bool StretchAll { get; set; }

	[Parameter]
	public int? StretchIndex
	{
		set
		{
			if (value < 0) throw new ArgumentOutOfRangeException(nameof(value));
			_stretchedIndex = value + 1;
		}
	}

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}


