@using BlazorApp.Styles
	
<div
	class=@_styled.ClassName
	style="
	--stack-gutter: @Gutter;
	"
>
	@ChildContent
	
	@_styled.Render(@"
        .wrapper {
	        display: flex;
	        flex-direction: column;
	        justify-content: flex-start;
	        height: inherit;
	        position: relative;
	    }
	    
	    .wrapper > * + * {
	        margin-top: var(--stack-gutter);
	        overflow: auto !important;
	    }
    ")
</div>
	
@code {
	private Styled _styled = new("stack");
	
	private string _className = Utils.GenerateUniqueClassName("stack");
	
	[Parameter]
	public string Gutter { get; set; } = StyleDictionary.SpacingXL;
	
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}