<Split StretchIndex="2">
  <Container Width="15rem">
    <Box Padding="@Tokens.SpacingXS">
      Title
    </Box>
    <Box Padding="@Tokens.SpacingL">
      Title
    </Box>
  </Container>
  <Container>
    <Cover>
      <header>
        Header
      </header>
      <Container Width="768px" Fluid Centered>
        @Body
      </Container>
      <div>Something above the footer</div>
      <footer>
        Footer
      </footer>
    </Cover>
  </Container>
</Split>

@code {
  [Parameter]
  public RenderFragment Body { get; set; }
}