<Split StretchIndex="2">
  <Container Width="15rem">
    <Box Padding="@Tokens.SpacingXS">
      Title
    </Box>
    <Box Padding="@Tokens.SpacingL">
      Title
    </Box>
  </Container>
  <Cover>
    <header>  
      Header
    </header>
    <Container Width="@Tokens.ScreenMd" Fluid Centered>
      @Body
    </Container>
    <div>Something above the footer</div>
    <footer>
      Footer
    </footer>
  </Cover>
</Split>

@code {
  [Parameter]
  public RenderFragment Body { get; set; }
}