@page "/"
@inherits StyledRazor.Lib.Components.UI.Button.Global

<Stack Gutter="@T.SpacingXl">
    <div>First</div>
    <div>
        <Button Padding=@($"{T.SpacingS} {T.SpacingXxl}")>Second</Button>
        <Styled
            Type=@Button 
            @onclick=@Click
            style=@($@"
                    --margin: 0 {T.SpacingL};
                ")>
            Dynamic
        </Styled>
    </div>
    <div>Third</div>
</Stack>

@code
{
    Styled Button { get; set; } = GreyButton;

    private void Click()
    {
        Button =
            Button.Type == "GreyButton"
                ? AlertButton
                : GreyButton;
    }
}