@page "/"

@inherits UIComponents

<Stack Gutter="@Tokens.SpacingXl">
  <div>First</div>
  <div>
    <Button Padding=@($"{Tokens.SpacingS} {Tokens.SpacingXxl}")>Second</Button>
    <Layout _="@DynamicButton"
            @onclick="@Click"
            style=@($@"
              --margin: 0 {Tokens.SpacingXl};")>
      Dynamic
    </Layout>
  </div>
  <Box>
    Third
  </Box>
</Stack>

@code
{
  Styled DynamicButton { get; set; } = GreyButton;

  private void Click() => DynamicButton =
    DynamicButton.Name == "GreyButton"
      ? AlertButton
      : GreyButton;
}